body {
    --animation-box-color: lightblue;
}
body[data-theme=dark] {
    --animation-box-color: darkcyan;
}

.anim-timing-example {
    border: 2px solid #333333;
    box-shadow: 2px 2px 4px var(--janim-box-shadow);
    margin-bottom: 20px;
}
.anim-timing-interactive {
    padding: 14px;
    padding-top: 10px;
    background-color: var(--color-background-primary);
    overflow: hidden;
}
.anim-boxes {
    padding-bottom: 22px;
}
.animation-box {
    width: 100px;
    height: 30px;
    background-color: var(--animation-box-color);
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}
.animation-box>span {
    margin: 4px;
}
.anim-arg-input {
    display: flex;
    width: 100%;
}
.anim-arg-input>label {
    white-space: nowrap;
    margin-right: 8px;
}
.anim-arg-input>span {
    width: 60px;
}
.anim-arg-input>input {
    width: 100%;
}