p {
    font-size: initial;
}

.caption-text {
  text-transform: none;
}

.mj-comparison-table p {
    font-size: 0.5em;
}

span.caption-text {
    font-size: larger;
}

div.toctree-wrapper.compound span.caption-text {
    font-size: x-large;
}

.reference.internal.image-reference img {
    object-fit: scale-down;
}

/* .highlight pre {
    font-size: initial;
} */

.highlight-python.notranslate {
    margin-top: 0em;
}

.highlight {
    font-size: large;
}

.page-faq h2 {
    font-size: 1.5em;
}

.page-insert_assets h2 {
    font-size: 1.65em;
}

.detail-box {
    border: 1px solid #a0b3bf;
    padding: 1rem;
}

details {
    margin-bottom: 1em;
}

summary {
    user-select: none;
    position: relative;
}

summary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 1px;
  background: linear-gradient(to right, var(--color-foreground-border), transparent);
}
