body {
    --janim-box-shadow: #ddd;
}
body[data-theme=dark] {
    --janim-box-shadow: #444;
}

p {
    font-size: initial;
}

span.caption-text {
    font-size: larger;
}

div.toctree-wrapper.compound span.caption-text {
    font-size: x-large;
}

.reference.internal.image-reference img {
    object-fit: scale-down;
}

/* .highlight pre {
    font-size: initial;
} */

.highlight-python.notranslate {
    margin-top: 0em;
}

.janim-video {
    width: 99.9%;
    padding: 8px 0;
    outline: 0;
}

.janim-box {
    background-color: #333333;
    box-shadow: 2px 2px 4px var(--janim-box-shadow);
    margin-bottom: 20px;
}

.janim-box .janim-video {
    padding: 0;
}

.janim-box img {
    margin-bottom: 0;
}

h5.example-header {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    color: white;
    margin: 0;
    font-family: inherit;
    text-transform: none;
    margin-top: -0.4em;
    margin-bottom: -0.2em;
}

.highlight {
    font-size: large;
}

.janim-box .highlight {
    background-color: #fafafa;
    border: 2px solid #333333;
    padding: 8px 8px 10px 8px;
    margin: 0;
    overflow: auto;
}

.janim-box .highlight pre {
    background-color: inherit;
    border-left: none;
    margin: 0;
    padding: 0 6px 0 6px;
}

.janim-content {
    background-color: var(--color-background-primary);
    padding: 0px 8px 0px 10px;
    margin: 0px;
    border: 2px solid #333333;
}

.janim-box .highlight-python.notranslate {
    margin: 0px;
    margin-bottom: -0.1em;
}
