p {
    font-size: initial;
}

.caption-text {
  text-transform: none;
}

.mj-comparison-table p {
    font-size: 0.5em;
}

span.caption-text {
    font-size: larger;
}

div.toctree-wrapper.compound span.caption-text {
    font-size: x-large;
}

.reference.internal.image-reference img {
    object-fit: scale-down;
}

/* .highlight pre {
    font-size: initial;
} */

.highlight-python.notranslate {
    margin-top: 0em;
}

.highlight {
    font-size: large;
}

.janim-content {
    background-color: var(--color-background-primary);
    padding: 0px 8px 0px 10px;
    margin: 0px;
    border: 2px solid #333333;
}

.page-faq h2 {
    font-size: 1.5em;
}
