body {
    --janim-box-shadow: #ddd;
}
body[data-theme=dark] {
    --janim-box-shadow: #444;
}

.janim-box {
    background-color: #333333;
    box-shadow: 2px 2px 4px var(--janim-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 0em;
    margin-bottom: 16pt;
}

.janim-box .janim-video {
    width: 99.9%;
    padding: 0;
    outline: 0;
}

.janim-box img {
    margin-bottom: 0;
}

h5.example-header {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 16px;
    color: white;
    margin: 0;
    font-family: inherit;
    text-transform: none;
    margin-top: -0.4em;
    margin-bottom: -0.2em;
}

.janim-box>.highlight-python.notranslate {
    margin: 0px;
}

.janim-box>.highlight-python.notranslate>.highlight {
    background-color: #fafafa;
    border: 2px solid #333333;
    padding: 8px 8px 10px 8px;
    margin: 0;
    overflow: auto;
}

.janim-box>.highlight-python.notranslate>.highlight pre {
    background-color: inherit;
    border-left: none;
    margin: 0;
    padding: 0 6px 0 6px;
}

div.example-ref {
    margin: 0.1em;
    margin-top: 0em;
    padding: 8px 14px;
    background-color: white;
    display: flex;
}

body[data-theme="dark"] div.example-ref {
    background-color: #333333;
}

div.example-ref p {
    margin: 0em;
}

p.example-ref-prefix {
    white-space: nowrap;
}

.janim-content {
    background-color: var(--color-background-primary);
    padding: 0px 8px 0px 10px;
    margin: 0px;
    border: 2px solid #333333;
    border-top-width: 0px;
}
