dl.py.function {
    margin-bottom: 32px;
}
dl.py.class {
    margin-bottom: 32px;
}
dl.py.method {
    margin-bottom: 32px;
}
section {
    margin-bottom: 32px;
}
h1, h2, h3, h4{
    font-weight: normal;
}
