dl.py.function {
    margin-bottom: 32px;
}
dl.py.class {
    margin-top: 32px;
}
dl.py.method {
    margin-bottom: 20px;
}
dl.py.property {
    margin-bottom: 20px;
}
section {
    margin-bottom: 32px;
}
h1, h2, h3, h4{
    font-weight: normal;
}
p.tab-p {
    margin: 0px;
}
details summary p {
    display: inline; /* 变为行内元素，消除换行 */
    margin: 0;       /* 消除段落自带的上下边距 */
    padding: 0;
}
