__pycache__
.VSCodeCounter
.DS_Store
._*
*_deprecated.py
/.asv
/.vscode/launch.json
/dist
/test_some_code
/doc/build
/videos
/.coverage
/env*
/result*.json
/test/__test_tempdir__
/test/__test_errors__
